-# coding:utf-8
%div.row-fluid
  %h2 担当者管理
  %div.tabbable{ style: "margin-bottom: 18px;" }
    %ul.nav.nav-tabs
      %li
        %a{ href: "/contacts/" } 担当者一覧
      %li.active
        %a{ href: "/contacts/new" }
          %i.icon-edit
          新規登録
    %div.row-fluid
      %div.span12
        = render 'form'
