%div.row-fluid
  %h2 案件管理
  %div.tabbable{ style: "margin-bottom: 18px;" }
    %ul.nav.nav-tabs
      %li
        = link_to "案件一覧", campaigns_path
      %li.active
        %a{ href: "/campaigns/new" }
          %i.icon-edit
          新規登録
      %li
        %a{ href: "/campaigns/actives" } アクティブ案件一覧
      %li
        %a{ href: "/campaigns/pendings" } 保留案件一覧
      %li
        %a{ href: "/campaigns/closed" } 終了案件一覧
    %div.row-fluid
      %div.span12
        -if @customers.empty?
          %div.alert.alert-block
            %h4 案件を登録できる顧客がありません
            %br
            先に顧客の登録が必要です。
            %br
            = link_to "（顧客を登録する）", new_customer_url
        - else
          = render 'form'