/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-responsive
 *= require jquery-ui-1.8.23.custom
 *= require jquery.timepicker
 *= require_tree .
 */

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
form, fieldset {
    display: inline;
    border: none;
    margin: 0px;
    padding: 0px;
}

#table {
    display:table; 
    }
.row {
    display:table-row;
    border-bottom:1px solid #CCC;
    }
.row>div {
    display:table-cell;
    margin:5px;
    padding:5px;
    background-color:#eee;
}
