%div.row-fluid
  %h2 活動記録
  %div.tabbable{ style: "margin-bottom: 18px;" }
    %ul.nav.nav-tabs
      %li
        %a{ href: "/activities/" } 実施済活動一覧
      %li.active
        %a{ href: "/activities/new" }
          %i.icon-edit
          新規登録
      %li
        %a{ href: "/activities/planned" } 活動予定
    %div.row-fluid
      %div.span12
        = render 'form'